src/main/app/mulemappingexception.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="172.9.9.9" port="9999" basePath="/TEST" doc:name="HTTP Request Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="mulemappingexceptionFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/mapexception" allowedMethods="POST" doc:name="HTTP"/>
        <set-variable variableName="valueCheck" value="#[xpath('/SADIK/ALI/DESTINATION/text()').text]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[message.payloadAs(java.lang.String).contains('Home')]">
                <set-payload doc:name="Set Payload" value="#[flowVars.valueCheck]"/>
                <http:request config-ref="HTTP_Request_Configuration" path="/TEST" method="GET" doc:name="HTTP"/>
                <set-property doc:name="Property" propertyName="http.status" value="401"/>
            </when>
            <when expression="">
                <set-payload doc:name="Set Payload" value="#[flowVars.valueCheck]"/>
                <http:request config-ref="HTTP_Request_Configuration" path="/TEST" method="GET" doc:name="HTTP"/>
                <set-property doc:name="Property" propertyName="http.status" value="404"/>
            </when>
            <otherwise>
                <set-payload doc:name="Set Payload" value="#[flowVars.valueCheck]"/>
                <http:request config-ref="HTTP_Request_Configuration" path="/TEST" method="GET" doc:name="HTTP"/>
                <set-property doc:name="Property" propertyName="http.status" value="500"/>
            </otherwise>
        </choice>
        <apikit:mapping-exception-strategy doc:name="Mapping Exception Strategy">
            <apikit:mapping statusCode="500">
                <set-payload doc:name="Set Payload" value="This is for testing pupose only."/>
                <set-property propertyName="http.status" value="200" doc:name="Property"/>
            </apikit:mapping>
        </apikit:mapping-exception-strategy>
    </flow>
</mule>
